body{
    background-color: black;
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    min-width: 350px;
}
    

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    
    gap: 2rem;
  }
