body{
    background-color: black;
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    min-width: 350px;
    overflow-x: hidden;
}
    

.container-grid{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    justify-content: space-evenly;
    
    
    gap: 2rem;
  }
