.logo{
    font-family: logo;
    font-size:2rem;
    color: #FE7F2D;
    text-shadow: 2px 2px 4px #000000;
    margin: 1rem;
    display: inline-block;
    margin-left: 20%;
    margin-top: 0%;
}

#barra-b ,.searchb {
    display: none;
}

.navbar-item a{
    color: white;
    
}

.navbar-list{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
    margin-left: 

}

.navbar-item{
    font-size: 0.7;
}


@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        background-color: black;
        align-items: center;
      
        width: 100vw;
        z-index: 100;
        
       
    }
    
    .navbar-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 1rem;
        float: right;
    }
    
    .navbar-item {
        display: inline-block;
        margin: 0;
    }
    
    .navbar-item > a {
        display: inline-block;
        color: white;
        text-decoration: none;
        line-height: 90px;
        padding: 0 1rem;
        
        
        
    }
    
    .navbar-item a:hover {
        background-color: #FE7F2D;
    }
    
    .logo{
        font-family: logo;
        font-size:2rem;
        color: #FE7F2D;
        text-shadow: 2px 2px 4px #000000;
        margin: 1rem;
        display: inline-block;
    }
    
    .search{
        align-self: center;
        
    }
    
    #barra-b{
        width: 22rem;
        height: 40px;
        border-radius: 5%;
    }
    
    .searchb {
        height: 2.5rem;
        width: 4rem;
    }
}    
