
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }


@font-face{
    font-family: logo;
    src: url(../font/Pacifico-Regular.ttf);
}  

:root {
  --max-width: 900px;
  --navbar-height: 50px;

}  
